Лаба 3/Лаба 3.4/service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://www.example.org/stock"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.example.org/stock">

<wsdl:types>
  <s:schema targetNamespace="http://www.example.org/stock">
    <!-- Определение типа данных для клиента -->
    <s:element name="Client">
      <s:complexType>
        <s:sequence>
          <s:element name="id" type="s:int"/>
          <s:element name="name" type="s:string"/>
        </s:sequence>
      </s:complexType>
    </s:element>

    <!-- Описание операции для получения данных о клиентах -->
    <s:element name="getClientsRequest"/>
    <s:element name="getClientsResponse">
      <s:complexType>
        <s:sequence>
          <s:element name="clients" type="tns:Client" minOccurs="0" maxOccurs="unbounded"/>
        </s:sequence>
      </s:complexType>
    </s:element>
  </s:schema>
</wsdl:types>

<!-- Описание порта -->
<wsdl:portType name="DataServiceSoap">
  <wsdl:operation name="getClients">
    <wsdl:input message="tns:getClientsRequest"/>
    <wsdl:output message="tns:getClientsResponse"/>
  </wsdl:operation>
</wsdl:portType>

<!-- Описание биндинга -->
<wsdl:binding name="DataServiceSoap" type="tns:DataServiceSoap">
  <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
  <wsdl:operation name="getClients">
    <soap:operation soapAction="getClients"/>
    <wsdl:input>
      <soap:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
      <soap:body use="literal"/>
    </wsdl:output>
  </wsdl:operation>
</wsdl:binding>

<!-- Описание сервиса -->
<wsdl:service name="DataService">
  <wsdl:port name="DataServiceSoap" binding="tns:DataServiceSoap">
    <soap:address location="http://localhost:3000/soap"/>
  </wsdl:port>
</wsdl:service>

</wsdl:definitions>
